@model Pharma.Models.MovimentacaoEstoque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovimentacaoEstoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemPedido.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMovimentacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
