@model IEnumerable<Pharma.Models.MovimentacaoEstoque>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between mb-5 align-items-center">
    <h1>Estoque</h1>
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMovimentacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPedido.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMovimentacao)
            </td>
                <td class="text-center">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
        </tr>
}
    </tbody>
</table>
