@model IEnumerable<Pharma.Models.PedidoCliente>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between mb-5 align-items-center">
    <h1>Vendas</h1>
    <p>
        <a class="text-white text-decoration-none p-3 rounded-2" style="background-color:#04828d; font-weight:700" asp-action="Create">Cadastrar Venda</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Bairro)
            </td>
                <td class="text-center">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
        </tr>
}
    </tbody>
</table>
