@model IEnumerable<Pharma.Models.Localizacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeLocalizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoLocalizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLocalizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoLocalizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.AcessoUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_localizacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_localizacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_localizacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
