@model Pharma.Models.ItemPedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3 class="alert alert-danger" role="alert">Tem certeza que quer <strong>apagar?</strong></h3>
<div class="mt-5">
    <h4>Item de pedido:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlTotalItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlTotalItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoCliente.NtFiscal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdItemProduto" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
    </form>
</div>
