@model Pharma.Models.ItemPedido

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Itens de pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlTotalItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlTotalItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoCliente.NtFiscal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdItemProduto" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
</div>
