@model IEnumerable<Pharma.Models.PedidoCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NtFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NtFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.IdCliente)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPedido" class="btn btn-dark">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPedido" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPedido" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
