@model Pharma.Models.MovimentacaoEstoque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovimentacaoEstoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemPedido.IdItemProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpMovimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtMovimentacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMovimentacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
